//- passwordReset-content.pug
//- state: 'blank' | 'sent'

- let loginUrl = '/' + program.slug + '/login'
- let resetUrl = '/' + program.slug + '/password-reset'

if errors && errors.length
    each e in errors
        p(style='color:#c0392b;')= e

if state === 'sent'
    p A temporary password has been sent to #[b= email]. Please check your inbox (and spam folder), then enter it below.
    br
    form(method='POST' action=loginUrl)
        input(type='hidden' name='email' value=email)
        table
            tr
                td(colspan='2'): input(type='password' name='password' size='40' maxlength='50' autocomplete='current-password' autofocus placeholder='Temporary password')
            tr: td(colspan='2', style='padding-top:12px;')
            tr: td(colspan='2' align='center')
                button.btn(type='submit') Log In
    p: a(href=loginUrl) Back to login

else
    p Enter your email address below and we will send you a temporary password.
    br
    form(method='POST' action=resetUrl)
        table
            tr
                td(colspan='2'): input(type='email' name='email' size='40' maxlength='300' autocomplete='email' required value=email||'' placeholder='Please enter your email address')
            tr: td(colspan='2', style='padding-top:12px;')
            tr: td(colspan='2' align='center')
                button.btn(type='submit') Send Temporary Password
    p: a(href=loginUrl) Back to login
