//- setPassword-content.pug

- let setUrl = '/' + program.slug + '/set-password'
- let loginUrl = '/' + program.slug + '/login'

if message === 'done'
    h3 Password set
    p Your password has been saved. You can now log in.
    p: a(href=loginUrl) Go to login

else if message
    h3 Setup link invalid
    p= message

else
    h3 Set Your Password
    p Please choose a password for your account.
    p(style='color:#666; font-size:0.9em;')= passwordRules

    if errors && errors.length
        each e in errors
            p(style='color:#c0392b;')= e

    form(method='POST' action=setUrl)
        input(type='hidden' name='token' value=token)
        table
            tr
                td Password
                td: input(type='password' name='password' size='30' maxlength='100' autocomplete='new-password' autofocus)
            tr
                td Confirm
                td: input(type='password' name='password2' size='30' maxlength='100' autocomplete='new-password')
            tr: td(colspan='2'): hr
            tr: td(colspan='2' align='center')
                button.btn(type='submit') Set Password
